body {
    background-image: url(https://img.freepik.com/premium-photo/sunrise-lake-park-high-tatras_146671-11451.jpg?w=2000);
    background-repeat:no-repeat;
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear-gradient( to left, skyblue, lightgreen);
    background-repeat:no-repeat;
    background-attachment:fixed ;
}
p{
    background: linear-gradient( to left, skyblue, lightgreen);
    background-repeat:no-repeat;
    background-attachment:fixed ;
}

/* background: linear-gradient() allows us to combine two colors or more together
background-repeat: non-repeat = dont repeat the background color
background-attachment: fixed = allows us to fill the background and adjust dynamically
can also use to top, to bottom, to left or right before each color to adjust and move the color*/